 .navbar {
    margin-bottom: 0px;
    margin-top: 0px;
}

#brand-logo {
    width: 15%;
    padding-right: 0px;
    margin-right: 0px;
}

.alert {
    margin-bottom: 0px;
}

#first {
    background-image: url("../img/airplane-flying(blurred).jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 0px;
    margin-bottom: 0%;
}

#second {
    margin-top: 0%;
    position: relative;
}

#second .container {
    padding-top: 0%;
}

#endImage {
    width: 25%;
    height: auto;
    margin-top: 10px;
}

.tinted {
    /*opacity: 0.8;*/
    filter: brightness(75%);
}

#second .fa {
    font-size: 50px;
}

#footer .fa {
    font-size: 30px;
}

.carousel-inner img {
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.links {
    padding: 2%;
}

.stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
    content: "";
    background-color: rgba(0,0,0,0);
}

#flight.card {
    transition: transform .2s;
}

#flight.card:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}