{% extends "layout.html" %}
{% block a %}
<div class="container mt-4">
    <h1 class="bebas">Our Mission</h1>
    <p class="b612">
        With so many ways to make this world a better place, we decided to deal with our own region. 
        Every year we hear news of people's life getting worse because the hurricanes, flooding, red tide. 
        We would like to change this. As we progress, it is our responsibility to help others who have fallen
        behind. We would like you to join in our mission to give back to the world. 

    </p>

    <div style="display:flex">
        <div style="flex:1;padding-right:5px;">
            <img src="../static/img/volunteers1.jpg" class="fit-img img-fluid">
        </div>
        <div style="flex:1;padding-left:5px;">
            <img src="../static/img/people-together.jpg" class="fit-img img-fluid">
            <img src="../static/img/truck.jpg" class="fit-img img-fluid">
        </div>
   </div>

   <p class="b612">
    We have helped around 3000 families in Florida, Alabama, and Georgia; however, there are so many families who still need help.
    With so much more needed to contribute, we will keep working to help the present and the onces in the future. 

</p>

   <hr>

    {% include "jinja/messageForm.jinja" %}

</div>
{% endblock a %}