{% extends "layout.html" %}
{% block a %}
    <div class="row">
        <div class="card-group justify-content-center">
            {% for flight in flights %}
            <div class="col-md-4">
                <div id="flight" class="card rounded-0 p-4 m-3"
                    style="height: 25rem; background-color: {{nice_colors[loop.index % nice_colors|length]}};">

                    <h3><b>From {{flight.from_location}}</b></h3>
                    <h3><b>To {{flight.to_location}}</b></h3>
                    <br>
                    <h5 style="color: white">Seats Remaining: {{100-flight.total}}<br>Price: ${{flight.price}}<br>Next
                        Flight: {{flight.date}}</h5>
                    <a href="{{url_for('final', id=flight.id)}}" class="stretched-link">{{index}}</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock a %}