{% extends "layout.html" %}
{% block a %}

<div id="third" class="jumbotron jumbotron-fluid">
    {% include "jinja/bookFlightForm.jinja" %}
</div>

{% include "jinja/extraInfo.jinja" %}

<!--
    {% if total == 1 %}
<div class="row">
    <div class="card-group">
        <div class="col-md-7">
            <div id="flight" class="card rounded-0 p-4 m-3"
                style="height: 25rem; border-color: {{nice_colors[0]}}; background-color: rgb(65,105,225);">

                <h3><b>From {{flights[0].from_location}}</b></h3>
                <h3><b>To {{flights[0].to_location}}</b></h3>
                <br>
                <h5 style="color: white">Price: ${{flights[0].price}}<br>Next
                    Flight: {{flights[0].date.strftime("%m/%d/%Y")}}</h5>
                <a href="{{url_for('final', id=flights[0].id)}}" class="stretched-link">{{index}}</a>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="row">
    <div class="card-group">
        {% for flight in flights %}
        <div class="col-sm-12 col-md-6  col-lg-4">
            <div id="flight" class="card rounded-0 p-4 m-3"
                style="height: 28rem; border-color: {{nice_colors[loop.index % nice_colors|length]}}; background-color: rgb(65,105,225);">

                <h3><b>From {{flight.from_location}}</b></h3>
                <h3><b>To {{flight.to_location}}</b></h3>
                <br>
                <h5 style="color: white">Price: ${{flight.price}}<br>Next
                    Flight: {{flight.date.strftime("%m/%d/%Y")}}</h5>
                <a href="{{url_for('final', id=flight.id)}}" class="stretched-link">{{index}}</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
-->

<script src="../static/js/book.js"></script>
{% endblock a %}