{% extends "layout.html" %}
{% block a %}
<h1 class="display-3"> Credits</h1>
</div>
</div>

<div class="container mt-4">
<h1 class="display-4">This project would have not been possible without these tools: </h3>
    <h2><small>All applicable copyright rules were followed.</small></h2>
    <h2>extensions and frameworks used: </h4>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="https://getbootstrap.com/">Bootstrap</a></li>
            <li class="list-group-item">HTML, CSS, Javascript</li>
            <li class="list-group-item"><a href="https://jquery.com">JQuery (with scrollTo plugin)</a></li>
            <li class="list-group-item"><a href="https://fontawesome.com/">Fonts Awesome</a></li>
            <li class="list-group-item"><a href="https://pexels.com">Pexels</a></li>
            <li class="list-group-item"><a href="https://unsplash.com">Unsplash</a></li>
            <li class="list-group-item"><a href="https://www4.lunapic.com/editor/">Blurring using Lunapic</a>
            </li>
            <li class="list-group-item"><a href="https://logomakr.com">Logomakr (only image not taken from pexel)</a></li>
        </ul>

        <h4>Images used: </h4>

        <p class="lead">pexel.com used for all images, pexels.com (all the images used are under Creative
            Commons
            License):
            for further details, <a href="https://www.pexels.com/creative-commons-images/">click here</a><br>
            (all
            images saved in img folder)
        </p>

        <ul class="list-group list-group-flush">

        </ul>
        <li class="list-group-item"><a
                href="https://www.pexels.com/photo/graphs-job-laptop-papers-590016/">Photo</a> by
            Lukas from Pexels: apply.jpeg
        </li>
        <li class="list-group-item"><a href="https://www.pexels.com/photo/gray-plane-wing-62623/ ">Photo</a> by
            Pixabay
            from Pexels: airplane-flying:
            (this image was
            blurred)</li>
        <li class="list-group-item"><a
                href="https://www.pexels.com/photo/airplane-blur-close-up-desk-346793/">Photo</a>
            by Porapak Apichodilok from Pexels: passport
        </li>
        <li class="list-group-item"><a
                href="https://www.pexels.com/photo/four-white-sale-boards-1591055/">Photo</a> by
            Miguel Á. Padriñán from Pexels: sale
        </li>
        <li class="list-group-item"><a
                href="https://www.pexels.com/photo/businessman-man-space-desk-7059/">Photo</a> by
            Startup Stock Photos from Pexels: job2
        </li>
</div>
{% endblock a %}
