{% extends "layout.html" %}
{% block a %}
<div class="container">
    <h3 class="mt-3">Flight Information</h3>
    <p class="lead">This Flight is from {{flight.from_location}} to {{flight.to_location}}. This flight is on
      {{flight.date.strftime("%H:%M, %m/%d/%y")}} for all the specified dates below and
      the price is ${{flight.price}}. Please show up to the specified airport atleast 10 minutes before the specific time.
      Now, please select one of the dates to finalize your booking.</p>
  
    <h3 class="mt-3">Edit Booking</h3>
    <form class="form-signin" method="POST" action="">
      {{ form.hidden_tag() }}
      <div class="form-label-group">
        {{ form.date.label(for="inputUsername") }}
  
        {% if form.date.errors %}
        {{ form.date(id="inputUsername", class="form-control is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.date.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
  
        {% else %}
        {{ form.date(id="inputUsername", class="form-control") }}
        {% endif %}
  
      </div>
  
      <div class="form-label-group">
        {{ form.children_passengars.label(for="inputEmail") }}
  
        {% if form.children_passengars.errors %}
        {{ form.children_passengars(id="inputEmail", class="form-control is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.children_passengars.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %}
        {{ form.children_passengars(id="inputEmail", class="form-control") }}
        {% endif %}
      </div>
  
  
      <div class="form-label-group">
        {{ form.adult_passengars.label(for="inputPassword") }}
  
        {% if form.adult_passengars.errors %}
        {{ form.adult_passengars(id="inputPassword", class="form-control is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.adult_passengars.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %}
        {{ form.adult_passengars(id="inputPassword", class="form-control") }}
        {% endif %}
  
      </div>
      
      {{ form.destroy(class="btn btn-lg btn-danger btn-block mt-3")}}
      {{ form.submit(class="btn btn-lg btn-primary btn-block mt-3") }}
  
    </form>
  
    <p class="text-muted mt-5">*** The paying process was not included for this website demonstration. ***</p>
  </div>
{% endblock a %}