{% extends "layout.html" %}
{% block a %}
<!--basic information-->
<div class="container mt-4">
    <h1 class="display-4">What is Frequent Flyer Program?</h1>
    <p class="lead">
        In case you don't know: frequent flyer program is a program offered in which for every flight you earn
        points which can then be redeemed for better flights offers, discounts, and free flights later on. The
        points you get is directly related to your expenditures in our flights. For every 2 dollars , you earn 1
        point.
    </p>

    <h1 class="display-4">Benefits</h1>
    <p class="lead">
        Once you have accumulated enough points, you can enjoy a lot of benefits:
        <ul class="list-unstyled">
            <li>20 points - 1 extra free drink</li>
            <li>50 points - 1 extra free meal</li>
            <li>250 points - 1 free economy flight from Georgia to Alabama or Alabama to Georgia</li>
            <li>400 points - 1 free business class flight from Georiga to Alabama or Alabama to Georgia</li>
            <li>500 points - 1 free business flight from Alabama or Georgia to any other state</li>
            <li>2000 points - 1 free first class from flight Alabama to Georgia</li>
        </ul>
    </p>

    <h1 class="display-4">How to Apply?</h1>
    <p class="lead mb-4">
        Your points you earn are directly associated with your account. Every single time you book a flight. Your points
        are automatically added to your account. In order to redeem your points, you can text or call on our number:
        202-555-0198. You can also email us at: goodayairlines@gmail.com. When you first created your account, we sent
        you an email with your Flyer ID. Every single time you want to redeem your points, please tell our staff your
        ID. Note, the your ID is sent you to the first account you created. If you are having problems finding your ID,
        please call our staff to get it back after answering some privacy questions.
    </p>

    <h1 class="display-4">Optimize Your Miles</h1>
    <p class="lead mb-4">
        The key to using frequent flyer programs is accumulating miles and redeeming them according to your needs,
        sometimes called “earn and burn."

        The fundamental way to rack up points is by flying our airline. We have switched our plan, and now points are
        given based on money you spend instead of total miles travelled
        The basic way to rack up miles is by flying the airline. Although rewards are sometimes called miles, nowadays
        you typically earn rewards based on how much money you spend, not how far you fly.
    </p>
    </form>
</div>
{% endblock a %}