{% extends "layout.html" %}
{% block a %}
<!--Interactive user points-->
{% include "jinja/frequentFlyer.jinja" %}

<!--basic information-->
<div class="container mt-4">
    <h1 class="bebas">What is Frequent Flyer Program?</h1>
    <p class="b612">
        Now offerred by virtually all airlines companies, frequent
        flyer program is a program offered where every flight taken
        by that specific airline company. You earn points which can then be
        redeemed for better flight offers and free flights later on.
        The points you get is directly related to your expenditures;
        for every 2 dollars spent on any service for Gooday Airlines, you will receive 1 point.
        These points can then be redeemed for benefits. These benefits are described below.
    </p>

    <h1 class="bebas">Benefits</h1>
    <p class="b612">
        Once you have accumulated enough points, you can enjoy a lot of benefits:
        <ul class="list-unstyled b612">
            <li>20 points - 1 extra free drink</li>
            <li>50 points - 1 extra free meal</li>
            <li>250 points - 1 free economy flight from Georgia to Alabama or Alabama to Georgia</li>
            <li>400 points - 1 free business class flight from Georiga to Alabama or Alabama to Georgia</li>
            <li>500 points - 1 free business flight from Alabama or Georgia to any other state</li>
            <li>2000 points - 1 free first class from flight Alabama to Georgia</li>
        </ul>
    </p>

    <h1 class="bebas">How to Apply?</h1>
    <p class="b612 mb-4">
        Your points are directly associated with your account.
        Every single time you book a flight. Your points are automatically
        added to your account. In order to redeem your points, you can text
        or call on our number: 202-555-0198. You can also email us at: goodayairlines@gmail.com.
        When you first created your account, we sent you an email with your Flyer ID.
        Every single time you want to redeem your points, please tell our staff your
        ID. Note, the your ID is sent you to the first email you registered for your account.
        If you are having problems finding your ID, please call our staff to get it
        back after answering some privacy questions.
    </p>

    <h1 class="bebas">Optimize Your Miles</h1>
    <p class="b612 mb-4">
        The key to using frequent flyer programs is accumulating miles and redeeming them according to your needs,
        sometimes called “earn and burn."

        The fundamental way to rack up points is by flying our airline. We have switched our plan, and now points are
        given based on money you spend instead of total miles travelled.
        The basic way to rack up miles is by flying the airline.
    </p>
    <hr>
    {% include "jinja/messageForm.jinja" %}
</div>

{% endblock a %}