{% extends "layout.html" %}
{% block a %}

<!--Book flight-->
<div id="third" class="jumbotron jumbotron-fluid">
    {% include "jinja/bookFlightForm.jinja" %}
</div>

<!--Another jumbotron, giving basic information-->
<div id="second" class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="custom-title  pt-0">About Us</h1>
        <p class="b612"> Welcome to Gooday Airlines. 
            We currently operate in Georgia and Alabama. 
            This is the first ever non-profit airline in the world!
            All our flights are very affordable and all the profit
            is donated to the poor in the South during the hurricane season. 
            We provide premium service for you and your country.
        </p>
           
        <div class="text-center">
            <a><i class="fa fa-arrow-down"></i></a>
        </div>
    </div>
</div>

<!--carousel, this includes the basic information about the flight-->
<div class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <a href="{{url_for('frequent')}}">
                <img src="../static/img/sale.jpg" class="d-block">
            </a>
            <div class="carousel-caption text-light">
                <h5>Save on every flight!</h5>
                <p>Get money back by participating in our Frequent Flyer Program</p>
            </div>
        </div>
        <div class="carousel-item">
            <a href="{{url_for('book')}}">
                <img src="../static/img/passport.jpg" class="d-block tinted">
            </a>
            <div class="carousel-caption  text-white">
                <h5>Book Flight</h5>
                <p>Click here to check schedule and here to book a flight!</p>
            </div>
        </div>
        <div class="carousel-item">
            <a href="{{url_for('job')}}">
                <img src="../static/img/job2.jpg" class="d-block tinted">
            </a>
            <div class="carousel-caption">
                <h5>Join Us</h5>
                <p>Learn how to apply a job at Gooday Airlines</p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

{% include "jinja/extraInfo.jinja" %}

{% endblock a %}