{% extends "layout.html" %}
{% block a %}
    <!--basic information-->
    <div class="container mt-4">
        <h1 class="display-4">Where we operate</h1>
        <p class="lead">
            The job positions listed below are available in two different locations. <br>
            The first location, 3063 Joyce Street, Gulf Shores, Alabama 36542 <br>
            The second location, 2987 Junkins Avenue, Lakeland, GA 31635
        </p>

        <h1 class="display-4">Available Jobs</h1>
        <p class="lead">
            Currently, we are in need of:
            <ul>
                <li>Full Stack Web Developers</li>
                <li>Database Managers</li>
                <li>Customer Service Agents</li>
                <li>Flight Attendants</li>
                <li>Crew Schedule Coordinator</li>
            </ul>
        </p>

        <h1 class="display-4">How to apply</h1>
        <p class="lead">
            To apply, send an email at goodayairlines@jobs.com. In the email please show what job and what location you
            are interested in. Also please send a one page resume. The salaries will be revealed when an intent email
            will be received. The salaries will be negotiable.
            <br>
            <img id="endImage" src="../static/img/apply.jpeg">
        </p>

        <!-- include some images to make this page longer lol and def delete this comment-->
        <!-- add some cool graphic stuff right next to the text to give a modern look-->
    </div>
{% endblock a %}