{% extends "layout.html" %}
{% block a %}
<!--basic information-->
<div class="container mt-4">
    <h1 class="bebas">Where we operate</h1>
    <p class="b612">
        The job positions listed below are available in two different locations. <br>
        The first location, 3063 Joyce Street, Gulf Shores, Alabama 36542 <br>
        The second location, 2987 Junkins Avenue, Lakeland, GA 31635
    </p>

    <h1 class="bebas">Available Jobs</h1>
    <p class="b612">
        Currently, we are in need of:
        <ul class="b612">
            <li>Full Stack Web Developers</li>
            <li>Database Managers</li>
            <li>Customer Service Agents</li>
            <li>Flight Attendants</li>
            <li>Crew Schedule Coordinator</li>
        </ul>
    </p>

    <h1 class="bebas">How to apply</h1>
    <p class="b612">
        To apply, send an email at goodayairlines@gmail.com. In the email please show what job and what location you
        are interested in. Also please send a one page resume. The salaries will be revealed when an intent email
        will be received. The salaries will be negotiable.
        <br>
        <img id="endImage" src="../static/img/apply.jpeg">
    </p>

    <h1 class="bebas">Benefits of working with us: </h1>
    <ul class="unstyled-list">
        <li class="b612">Free food.</li>
        <li class="b612">Free cooking classes.</li>
        <li class="b612">Free onsite gym/gym classes.</li>
        <li class="b612">Onsite medical staff.</li>
    </ul>
    <!-- add some cool graphic stuff right next to the text to give a modern look-->
    <hr>
    {% include "jinja/messageForm.jinja" %}

</div>
{% endblock a %}