{% extends "layout.html" %}
{% block a %}

<form class="form-signin mt-4" method="POST" action="">
    {{ form.hidden_tag() }}
    <div class="form-label-group">
        {{ form.username.label() }}

        {% if form.username.errors %}
        {{ form.username( class="form-control is-invalid mb-3") }}
        <div class="invalid-feedback">
            {% for error in form.username.errors %}
            <span>{{ error }}</span>
            {% endfor %}
        </div>

        {% else %}
        {{ form.username( class="form-control mb-3") }}
        {% endif %}

    </div>

    <div class="form-label-group">
        {{ form.password.label() }}

        {% if form.password.errors %}
        {{ form.password( class="form-control is-invalid mb-3") }}
        <div class="invalid-feedback">
            {% for error in form.password.errors %}
            <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% else %}
        {{ form.password( class="form-control mb-3") }}
        {% endif %}

    </div>
    <div class="form-check">
        {{ form.remember(class="custom-control-input mb-3") }}
        {{ form.remember.label(class="custom-control-label ml-3 mb-4") }}
    </div>

    {{ form.submit(class="btn btn-lg btn-primary btn-block text-uppercase") }}

    <div class="links">
        <a href="{{ url_for('register') }}">Sign Up</a>
        <br>
        <a href="{{ url_for('reset_request') }}">Forgot Password</a>
    </div>

</form>
{% endblock a %}