{% extends "layout.html" %}
{% block a %}

{% if flights == [] %}
<div class="container-fluid p-4 m-4">
    <div class="row">
        <div class="col">
            <img width="1000" src="../static/img/no-bookings.jpg">
        </div>

        <div class="col">
            <div class="display-2">We couldn't find any flights, yet...</div>
            <br>
            <p class="lead">Please go Flights and then book flight in order to book a flight. 
                Or here you can also click <a href="{{url_for('book')}}">here</a>
            </p>
        </div>
    </div>
</div>
{% else %}

<div class="row">
    <div class="card-group justify-content-center">
        {% for flight in flights %}
        <div class="col-sm-12 col-md-6  col-lg-6">
            <div id="flight" class="card rounded-0 p-4 m-3"
                style="height: 25rem; background-color: {{nice_colors[loop.index % nice_colors|length]}};">
                <h3><b>From {{flights_info[loop.index-1].from_location}}</b></h3>
                <h3><b>To {{flights_info[loop.index-1].to_location}}</b></h3>
                <br>
                <h5 style="color: white">Price: ${{flights_info[loop.index-1].price}}<br>Date:
                    {{flight.date.strftime("%m/%d/%Y")}} <br> Minors: {{flight.children}} <br> Adults:
                    {{flight.adults}}</h5>
                <a href="{{url_for('edit', id=flight.id)}}" class="stretched-link">{{index}}</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
{% endblock a %}