<div class="container mx-auto pt-0">
        <div class="display-4 pt-0 mb-4">Book A Flight</div>
        <form class="form-signin" method="POST" action="">
            <div class="form-row">
                <div class="col">
                    {{ form.hidden_tag() }}
                    <div class="form-label-group">
                        {{ form.from_location.label(class="lead", style="font-size: 120%") }}
            
                        {% if form.from_location.errors %}
                        {{ form.date( class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.from_location.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
            
                        {% else %}
                        {{ form.from_location(class="form-control") }}
                        {% endif %}
            
                    </div>
                </div>
              
                <div class="col">
                    <div class="form-label-group">
                        {{ form.to_location.label(class="lead", style="font-size: 120%") }}
            
                        {% if form.to_location.errors %}
                        {{ form.to_location( class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.to_location.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.to_location( class="form-control") }}
                        {% endif %}
                    </div>
                </div>
           
            </div>
                       
           <div class="form-group ml-2 mt-3">
               <div class="form-check">
                {{ form.frequent(class="lead custom-control-input") }}
                {{ form.frequent.label(class="lead custom-control-label") }} 
               </div>
                   
               <div class="form-check">
                {{ form.refundable(class="lead custom-control-input mb-3") }}
                {{ form.refundable.label(class="lead custom-control-label") }}
               </div>
            
           </div> 
            
            {{ form.submit(class="btn btn-lg btn-primary btn-block mt-3") }}
        </form>
    </div>
    </div>