
<!--
    more information about the company, a card deck
-->


<div id="extra-content" class="container mt-5 mb-5">
    <div class="text-center">
        <div class="display-4 m-4">Here to provide you with the <b>best</b> experience.</div>
    </div>
    <div class="card-deck">
        <div class="card">
          <img src="../static/img/info.jpg" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Can I change/cancel my booking?</h5>
            <p class="card-text">You absolutely can. We are here to provide you with the best experience. You will also be refunded all the money if the cancellation is a week before.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <img src="../static/img/extra-info2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">How do I change my flight?</h5>
            <p class="card-text">Your bookings can be edited by first clicking on flights, and then view your flights. You can also just click <a href="{{url_for('view')}}">here</a></p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>

      <div class="card-deck m-5 justify-content-center">
        {% if extra == True %}
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="../../static/img/responsive.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Book with Assurance</h5>
                <p class="card-text">On the go? Don't have your laptop? No worries, book flights on your phone</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>

        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="../../static/img/coronavirus.jpg" class="card-img" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Commited for your safety</h5>
                  <p class="card-text">We truly care about your health and well being. Airplanes are cleaned every hour and passengars are all required to wear masks and use hand sanitizer. </p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
      </div>
</div>
