<div class="container">
    <div class="text-center">
        <div class="display-4 m-4">Inspiration for your next visit.</div>
    </div>
    <div class="card-deck">
        <div class="card">
          <img src="../../static/img/atlanta.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Atlanta, Georgia</h5>
            <p class="card-text">Atlanta is the U.S. capital of Georgia, there are many historical sights to visit considering it played an important role in the Civil War and the 1960s Civil Rights Movement. </p>
          </div>
        </div>
        <div class="card">
          <img src="../../static/img/stone-mountain.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Stone Mountain, Georgia</h5>
            <p class="card-text">Stone Mountain is a city near Atlanta, Georgia. Etched into the rock’s side are: Civil War generals Stonewall Jackson, Robert E. Lee, and President Jefferson Davis.</p>
          </div>
        </div>
        <div class="card">
          <img src="../../static/img/gulf-state-park.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Gulf Shores, Alabama</h5>
            <p class="card-text">Gulf Shores has a beautiful Gulf State Park, a public recreation area on the Gulf of Mexico in the city of Gulf Shores in southern Baldwin County, Alabama. </p>
          </div>
        </div>
      </div>
</div>